@use '../../scss/colors';
@use '../../scss/font';
@property --color-1 {
    syntax: '<color>';
    inherits: true;
    initial-value: #36afe7ab;
}

@property --color-2 {
    syntax: '<color>';
    inherits: true;
    initial-value: #ace07e;
}
.about-section {
    width: 100%;
    margin-top: 3rem;
    .about-desp {
        margin-top: 2.5rem;
        p {
            font-size: 0.95rem;
            line-height: 25px;
        }
        .🕳 {
            color: colors.$primary_color;
            margin-bottom: 1rem;
        }
        button {
            margin-top: 2rem;
            padding: 0.8rem 1.2rem;
            background-image: linear-gradient(
                90deg,
                var(--color-1),
                var(--color-2)
            );
            font-weight: 600;
            cursor: pointer;
            outline: none;
            border: none;
            transition: transform 200ms, --color-2 500ms, --color-1 1000ms 500ms;
            border-radius: 5px;
            &:hover,
            &:focus-visible {
                --color-1: #ace07e;
                --color-2: #36afe7ab;
            }
        }
    }
}
