@use '../../scss/colors';
@use '../../scss/font';
@property --color-1 {
    syntax: '<color>';
    inherits: true;
    initial-value: #36afe7ab;
}

@property --color-2 {
    syntax: '<color>';
    inherits: true;
    initial-value: #ace07e;
}
.about-section {
    width: 100%;
    margin-top: 3rem;

    .about-me-para {
        display: flex;
        gap: 1rem;
        margin-top: 2.5rem;
        .set-image {
            width: auto;
            height: 350px;
            overflow: hidden;
            border: 5px solid rgba(225, 225, 225, 0.2);
            border-radius: 5px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                background-position: center;
                aspect-ratio: 1/1;
                cursor: pointer;
            }
        }
        p {
            width: 75%;
            line-height: 28px;
            font-size: 0.95rem;
            font-weight: 500;
            .chg_para_clr {
                color: rgba(colors.$primary_color, 0.9);
                font-family: 'JetBrains Mono', monospace;
                font-size: 0.85rem;
            }
        }
        @media screen and (max-width: 950px) {
            display: flex;
            flex-direction: column;
            .set-image {
                display: none;
            }
            p {
                width: 100%;
            }
        }
    }
}
