@use '../../scss/colors';
.social {
    padding: 0rem 4rem;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    .socialmedia {
        .icons {
            font-size: 1.3rem;
            text-decoration: none;
            display: block;
            color: colors.$para_colors;
            margin-bottom: 1.3rem;
            cursor: pointer;
            &:hover {
                color: colors.$primary_color;
            }
            &:last-child {
                margin-bottom: 0rem;
                display: grid;
                place-items: center;
                &::after {
                    content: '';
                    width: 2px;
                    height: 70px;
                    background: colors.$para_colors;
                    margin-top: 1rem;
                }
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    .social {
        padding: 0rem 3rem;
    }
}
@media screen and (max-width: 760px) {
    .social {
        bottom: 0;
        right: -8%;
        .socialmedia {
            .icons {
                font-size: 1rem;
            }
        }
    }
}
